{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}


<div class="wrapper" style="margin-top:20px;margin-bottom:20px;">
<div class="row checkout">
    <div class="col-md-3"></div>
    <div class="col-md-6 main">
        <h3>Vérification</h3>
        <br>
        <h4 style="text-decoration:underline">Ton Total: ${{app.session.get('totalPrice')}}</h4>
        {# <div id="charge-error" class="alert alert-danger {% if noError %} invisible {% endif %}">
            {{errMsg}}
        </div> #}
        <form  method="post" id="checkout-form">
            {# {{ csrfField() }} #}
            <div class="main-title">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" name="name" >
            </div>
            <div class="checkout">
                <label for="address">Addresse</label>
                <input type="text" class="form-control" id="address" name="address" >
            </div>
            <div class="checkout">
                <label for="card-holder">Nom du titulaire</label>
                <input type="text" class="form-control" id="card-holder" maxlength="50" >
            </div>
            <div class="checkout">
                <label for="card-number">Numéro de carte</label>
                <input type="text" class="form-control" id="card-number"  maxlength="16" >
            </div>
            <div class="row checkout">
                <div class="col-md-6">
                    <label for="card-expiry-month">Mois d'expiration</label>
                    <input type="text" class="form-control" id="card-expiry-month" maxlength="2" >
                </div>
                <div class="col-md-6">
                    <label for="card-expiry-year">Année d'expiration</label>
                    <input type="text" class="form-control" id="card-expiry-year" maxlength="4" >
                </div>
            </div>
            <div class="checkout">
                <label for="card-cvc">CVC/CVV</label>
                <input type="password" class="form-control" id="card-cvc" maxlength="4" >
            </div>
            <button class="btnn" style="margin-top:20px;">Achéter</button>
        </form>
    </div>
</div>
</div>


   {% endblock %}