{% extends 'base.html.twig' %} {% block title %}{{ "connexion" | trans }}{%
endblock %} {% block body %}
<div class="container">
  <div style="margin-top: 20px"></div>
  <div class="row">
    <div class="col-8">
      <h6 class="h3 mb-4 font-weight-normal">
        {{ "please_connexion" | trans }}
      </h6>
      <div class="card p-3">
        <form method="post">
          {% if error %}
          <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
          </div>
          {% endif %} {% if app.user %}
          <div class="mb-3">
            {{ "connexion_as" | trans }} {{ app.user.userIdentifier }},
            <a href="{{ path('app_logout') }}">{{ "deconnexion" | trans }}</a>
          </div>
          {% endif %}

          <label for="inputEmail">Email</label>
          <input
            type="email"
            value="{{ last_username }}"
            name="email"
            id="inputEmail"
            class="form-control"
            autocomplete="email"
            required
            autofocus
          />
          <label for="inputPassword" class="mt-3">{{
            "password" | trans
          }}</label>
          <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            autocomplete="current-password"
            required
          />

          <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
          />

          <button class="btn btn-lg btn-success mt-3 mb-3" type="submit">
            {{ "se_connecter" | trans }}
          </button>
          <p>
            {{ "not_account" | trans }}
            <a href="{{ path('app_register') }}">{{ "se_inscrire" | trans }}</a>
          </p>
        </form>
      </div>
      <div style="margin-bottom: 20px"></div>
    </div>
  </div>
</div>
{% endblock %}
