{% extends 'base.html.twig' %}

{% block title %}Curriculum Vitae{% endblock %}

{% block body %}
<style>
  p,ul li{color: #fff; }
</style>

<section id="hero"  style="background-image:url('{{asset('./images/developper.jpg')}}')"  class="d-flex justify-content-center align-items-center">
  <div class="container position-relative animated fadeInUp ease-out-circ d-1 a-2" >
    
 <!-- ======= Resume Section ======= -->
 <section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>{{'resume' | trans}}</h2>
      <p style="color:#fff;">{{"extrait_parcour"| trans}}</p>
    </div>

    <div class="row" id="contact">
      <div class="col-lg-6">
        <h3 class="resume-title">{{'sommaire' | trans}}</h3>
        <div class="resume-item pb-0">
          <h4>Grégoire Yakeu</h4>
          <p><em>{{"web_developper" | trans}}</em></p>
          <p>
          <ul>
            <li>Douala, Cameroun</li>
            <li>(237) 694573928</li>
            <li>yakeugreg@gmail.com</li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">{{"new_application" | trans}}</h3>
        <div class="resume-item">
          <h4>Rapid Market</h4>
          <h5>2019</h5>
          <p><em>{{"vente_application" | trans}}</em></p>
          <p>{{"rapid_market" | trans}}</p>
          <p>{{"playstore_presence" | trans}}</p>
        </div>
        <div class="resume-item">
          <h4>Loveme</h4>
          <h5>2022</h5>
          <p><em>{{"rencontre_application" | trans}}</em></p>
          <p>{{"loveme_presentation" | trans}}</p>
          <p>{{"playstore_presence" | trans}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">{{"prefessionel_experience" | trans}}</h3>
        <div class="resume-item contact">
          <h4>{{"dev_web" | trans}}</h4>
          <h5>2017 - 2019</h5>
          <p><em>À KAMER-DEV </em></p>
          <p>{{"dev_equipe" | trans}}</p>
          <p>
            <p class="tech-stack"><b>Tech Stack :</b></p>
          <ul class="contact">
            <li>PHP</li>
            <li>Symfony,Twig,Doctrine2,Api platform </li>
            <li>CSS3,SCSS,Html5, Javascript</li>
            <li>Slack, Trello</li>
          </ul>
          </p>
        </div>
        <div class="resume-item contact">
          <h4>{{"dev_web" | trans}}</h4>
          <h5>2019 - 2021</h5>
          <p><em>À COTAFRIC</em></p>
          <p>{{"cotafric_learn" | trans}}
            .</p>
            <p class="tech-stack"><b>Tech Stack :</b></p>
          <p>
          <ul class="contact">
            <li>Angular</li>
            <li>Symfony</li>
            <li>Php</li>
            <li>Html,css </li>
            <li>Gitlab,Slack, Trello </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
   
    <p style="color:#fff; font-size:22px;" class="center-bloc"><a href="{{path('app_cv')}}">{{"download_cv" |trans}}</a></p>
  </div>
</section><!-- End Resume Section -->
  </div>
</section><!-- End Hero -->
{% endblock %}