{% extends 'base.html.twig' %} {% block title %}Welcome to Shoppincart{%
endblock %} {% block body %}

<style>
  #intro h2,
  #hero h2 {
    letter-spacing: 2px;
  }
</style>
<div style="margin-top: 25px"></div>
<section
  id="hero"
  style="background-image:url('{{ asset('./images/developper.jpg') }}')"
  class="d-flex justify-content-center align-items-center"
>
  <div
    class="container position-relative animated fadeInUp ease-out-circ d-1 a-2"
  >
    <h1>
      {{ "cart_systeme_un" | trans }} <br />
      <span style="color: #f3cd05; padding-bottom: 10px"
        >{{ "with_symfony" | trans }}
      </span>
    </h1>
    <h1>{{ "powerful_framework" | trans }}</h1>
    <div id="intro">
      <h2>
        {{ "autor" | trans }} <span>{{ "autor_post" | trans }} </span
        >{{ "autor_post2" | trans }}
      </h2>
    </div>
    <div class="intro-home">
      <h2>{{ "but" | trans }}</h2>
    </div>
    <a class="btn-get-started" href="{{ path('app_post_get') }}"
      >{{ "commencer_vite" | trans }}
    </a>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a
        href="https://www.linkedin.com/in/gr%C3%A9goire-yakeu-67427b120/"
        target="_blank"
        class="linkedin"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
  </div>
</section>
<!-- End Hero -->

{% endblock %}
