{% extends 'base.html.twig' %} {% block title %}{{ "inscription" | trans }}{%
endblock %} {% block body %}
<div class="container">
  {% for flash_error in app.flashes('verify_email_error') %}
  <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}
  <div style="margin-top: 90px"></div>

  <h4 class="mb-4">{{ "inscription" | trans }}</h4>

  {{ form_start(registrationForm) }}
  {{ form_row(registrationForm.email) }}
  {{ form_row(registrationForm.username) }}
  {{
    form_row(registrationForm.plainPassword, {
      label: "Mot de passe"
    })
  }}
  {{ form_row(registrationForm.agreeTerms) }}

  <button type="submit" class="btn btn-success">
    {{ "se_inscrire" | trans }}
  </button>
  {{ form_end(registrationForm) }}
  <p class="mt-3">
    {{ "already_account" | trans }}
    <a href="{{ path('app_login') }}">{{ "se_connecter" | trans }}</a>
  </p>
</div>
{% endblock %}
