$appcolor:#F3CD05;

*{
    box-sizing: border-box;
    outline: 0;
    
}



.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $appcolor !important;
    border-color: $appcolor !important;
}

.alerts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}


@media screen and (max-width: 1650px) {
    .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1250px) {
    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}


.thumbnail {
    border-radius: 10px;
}


.thumbnail img {
    width: inherit;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.thumbnail description {
    color: #7f7f7f;
}

.product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.price {
    font-weight: bold;
    font-size: 16px;
   
}

.price-cart {
    margin-right: 20px;
}

.border {
    border: 2px solid red;
}

.checkout {
    margin-top: 20px;
}

.total {
    margin-left: auto;
}

#nav-header,
.header {
    background: #1f1e1e !important;
}

.nav-title {
    color: #FFFFFF !important;
}

.header-title {
    padding-left: 10px;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.empty img {
    margin-top: 20px;
    height: 400px;
}

.main-title {
    padding-top: 20px;
}

.button-submit {
    margin-top: 10px;
}


.bg-footer {
    background-color: #262431;
}

footer {
    color: #fff;
}







.intro {
    text-align: center;
}

ul {
    list-style-type: none;
}

html {
    font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6ABCEA;
}



.sidebar {
    line-height: 26px;
    padding-top: 50px;
}

.sidebar ul {
    margin: 30px 0px;
}

.sidebar .nav-link {
    display: block;
    text-align: center;
}

.sidebar .nav-link i {
    display: block;
    text-align: center;
}

.sidebar .nav-link.active {
    color: #03A9F4;
}

.movie_list {
    margin-top: 5rem;

}

.card-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avengerEndgame {

    background-size: cover;
}

.hobbsShaw {

    background-size: cover;
}

.Johnwick {

    background-size: cover;
    background-position: 100% 100%;
}

.deadPool {

    background-size: cover;
}

.theLionking {

    background-size: cover;
}

.madMax {

    background-size: cover;
}

.aquaMan {

    background-size: cover;
}

.missionImpossible {

    background-size: cover;
}

.card-header-icon {
    position: relative;
}

.header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
}

.header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}

.main-button {
    cursor: pointer;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #03A9F4;
    background: #03A9F4;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}


.wrapper {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #0000000A;
    border-radius: 10px;
    opacity: 1;
    padding: 20px;
}

.heading {
    font-size: 25px;
    font-weight: 600;
    color: $appcolor;
    display: flex;
    align-items: center;
    gap: 20px;
}



.panier {
    margin-left: 20px;
    margin-top: 20px;
}

.price {
    margin-bottom: 5px;
}


.price-button {
    border-color: #D5D9D9;
    border-radius: 8px;
    color: #0F1111;
    background: #F0F2F2;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    padding: 4px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    margin-top: 15px;
}

.qte-button {
    background-color: $appcolor;
    background: $appcolor;
}

.cart-delete {
    margin-top: 15px;
    font-size: 16px;
    color: #C9302C;
}

.card-view {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;

}

.card-view:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}




.card-view:hover .icons-hover {
    display: block !important;
    padding: 40px;
}

.icons-hover {
    padding-top: 7px;
    padding: 7px;
    position: absolute;
    top: 20px;
    display: none !important;
    width: 100px;
}

.card-movie-info {
    display: inline-block;
}

.edit {
    margin-right: 20px !important;
}

.fill-class>svg {
    fill: orange;
}

.main-image {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main-image:hover {
    cursor: pointer;
    background: rgba(4, 4, 4, 0.7);
}

.card-movie-content {
    padding: 18px 18px 24px 18px;
    margin-top: -15px;

}

.card-movie-content-head {
    margin-top: 12px;
}

.card-movie-content-head,
.card-movie-info {
    display: table;
    width: 100%;
}

.fa-shopping-cart{
    color: $appcolor;
    font-size:16px ;
}

.card-movie-title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: table-cell;
    opacity: 1;
    line-height: 1.8;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #222325;
    font-weight: 400;
   


}

.ratings {

    height: 15px;
    background-size: contain;
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 5px;
    font-weight: 600;
}

.ratings span {
    color: #2196F3;
}

.card-movie-info {
    margin-top: 1em;
}

.movie-running-time {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.movie-running-time:first-of-type {
    text-align: left;
}

.movie-running-time:last-of-type {
    text-align: right;
}

.movie-running-time label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}

.movie-running-time span {
    font-weight: 700;
    font-size: 11px;
}

.add-to-cart-text {
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}


#cart-btn {
    border: none;
    padding: 10px;
    font-size: 18px;
    background: #03A9F4;
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    margin-top: 20px;
}

#cart-btn:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

button:focus {
    outline: 0;
}

#cart-btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

.presentation {
    color: #262431;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.end-presentation {
    text-align: center;
    color: #262431;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.end-presentation a {
    color: #C9302C
}

.demo {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    color: #262431;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
}


.ftco-navbar-light {
    background: #262431 !important;
    z-index: 3;
    padding: 3px 3px;
    -webkit-box-shadow: 0px 5px 20px -17px rgb(0 0 0 / 34%);
    -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 5px 20px -17px rgb(0 0 0 / 34%);
}


.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 13px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 1 !important;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100%;
    // background-image: url('developper.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 72px;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 62px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    border-color: #F3CD05;
}

#hero .btn-get-started:hover {
    text-decoration: none !important;
    border-color: #fff;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

.flottant img{
    margin-top: 25px;
}

footer p, footer H6{
    color: #fff;
}

.button-add {
    background: hsl(0, 0%, 91%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    margin-right: 13px;
}

.add-button {
    display: inline-block;
}


.selcls {
    padding: 9px;
    border: solid 1px #C9302C;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #E78F8D), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #E78F8D 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border-radius: 13px;
    width: 150px;
}

.seldemo {
    background: #5E9E47;
    height: 75px;
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    font-size: 22px;
    color: #fff;
}


.post {
    word-wrap: break-word;
    overflow: auto;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #A7414A;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.tag-green {
    background-color: #00b665;
}

.tag-violet {
    background-color: #45ADA8;
}

.tag-yellow {
    background-color: #F3CD05;
}

.tag-red {
    background-color: #E84A5F;
}

.tag-marron {
    background-color: #563838;
}

.tag-calm {
    background-color: #270101;
}

.tag-beau {
    background-color: #561E18;
}

.user {
    display: flex;
    margin-top: 10px;
   
}



.user img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

.pagination {
    display: inline-block;
}

.pagination li {
    float: left;
}

.pagination a.active {
    background-color: #F3CD05;
    color: white;
    border-radius: 4px;
}


.btne {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btne:hover {
    color: #000;
}

.btne:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ff7200;
    font-size: 65px
}

.form {
    width: 310px;
    height: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);

    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #F3CD05;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #F3CD05;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #F3CD05;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    font-weight: 500;
}

.btnn-edit {
    color: #F3CD05;
    border: 1px solid #F3CD05;
    border-color: #F3CD05;
    background-color: #fff;

}

.btnn-delete {
    color: rgb(238, 79, 106);
    border: 1px solid rgb(238, 79, 106);
    border-color: rgb(238, 79, 106);
    background-color: #fff;

}

.btnn-delete:hover,
.btnn-edit:hover {
    color: #000;
}

.btnn:hover {
    color: #000;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #F3CD05;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #F3CD05;
}

.link,
.liw {
    color: #fff;
}

.center-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content,
label {
    font-family: Arial;
}

#detail-post {
    height: auto;
    /* min-height: 350px; */
    font-family: Arial;
}





.country {
    color: #74767e;
    font-weight: 500;
    margin-top: -7px;

}

.created {
   
    font-size: 10px;
    color: #74767e;
}


.rounded-circle-cart-number {
    background: #F3CD05;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}


#intro h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.intro-home h2 {
    font-size: 20px !important;
    margin-top: 30px !important;
    color: rgba(255, 255, 255, 0.8);
   
}

#intro h2 span {
    color: #fff;
    border-bottom: 2px solid #F3CD05;
    padding-bottom: 6px;
}



.social-links {
    margin-top: 40px;
    display: flex;
    padding-bottom: 30px;
}

.social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.social-links a:hover {
    background: #F3CD05;
}

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }

    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .social-links {
        margin-top: 15px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Header Top */
#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links,
#header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}







/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}



.resume .resume-item p{
    color: #fff;
}

#contact .resume-item p{
    color: #fff;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #F3CD05;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;

}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #F3CD05;
    border: 2px solid #F3CD05;
}

.tech-stack {
    text-decoration: underline;
}


#resume {
    padding-bottom: 30px;
    margin-top: -80px;
}

#resume li {
    list-style-type: disc;
}


@media (max-width: 992px) {
    #intro h2 span {

        border-bottom: none;
        padding-bottom: 6px;
    }

    .btnn {
        margin-top: 40px;
    }

    #intro h2 {
        line-height: 30px;
    }

    #hero {
        height: auto;
    }

    .delete,
    .update {
        display: inline-block;
        padding: 20px;
    }
}

@media (max-width: 768px) {

    #hero {
        height: auto;
    }

    #detail-post {
        height: 290px !important;
    }
}

@media (max-width: 1024px) {
    #detail-post {
        height: 370px;
    }

    .btnn {
        width: 200px;
    }

    #hero {
        height: auto;
    }
}

.resume-item p {
    color: #fff !important;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    color: #fff !important;
}
