<!-- Footer -->
<footer class="text-center text-lg-start bg-footer">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom"
  ></section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h1 class="heading">
            <i
              class="fa fa-shopping-cart"
              style="font-size: 22px; color: #f3cd05"
            ></i>
            Shopping Cart
          </h1>
          <br />
          <p>
            {{ "cart_systeme" | trans }}
          </p>
          <p>
            Loveme, application de rencontre
            <a
              href="https://play.google.com/store/apps/details?id=com.ndolo.loveme.app&hl=fr&gl=US&pli=1"
              target="_blank"
              ><br />
              <img
                width="120"
                src="{{ asset('images/google-play-badge.png') }}"
                alt=""
            /></a>
          </p>
          <p>
            Rapid Market, application de vente
            <a
              href="https://play.google.com/store/apps/details?id=com.echange.trockamer&hl=ky&gl=US"
              target="_blank"
              ><br /><img
                width="120"
                src="{{ asset('images/google-play-badge.png') }}"
                alt=""
            /></a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p class="text-uppercase fw-bold mb-4">
            {{ "our_framework" | trans }}
          </p>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Symfony</a>
          </p>
          <p>
            <a href="#!" class="text-reset">AdonisJs</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Languages</h6>
          <p>
            <a href="#!" class="text-reset">Dart/Flutter</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Php</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nodejs</a>
          </p>

          <p>
            <a href="#!" class="text-reset">javascript/Typescript</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Evry, France</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:yakeugreg@gmail.com">yakeugreg@gmail.com</a>
          </p>

          <p>
            <a
              href="https://www.linkedin.com/in/gr%C3%A9goire-yakeu-67427b120/"
              target="_blank"
            >
              Linkedln <i class="fab fa-linkedin"></i
            ></a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2022 Copyright:
    <a
      class="text-reset fw-bold"
      href="https://play.google.com/store/apps/details?id=com.ndolo.loveme.app"
      target="_blank"
      >Loveme</a
    >
  </div>
  <!-- Copyright -->
</footer>
