

<nav class="navbar fixed-top navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="{{path('app_home')}}">
			<h1 class="heading">
				<i class="fa fa-shopping-cart" style="font-size:22px ;color:#F3CD05;"></i>
				Shopping Cart
			</h1>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item ">
					<a href="{{path('app_home')}}" class="nav-link">{{"home" | trans}}</a>
				</li>
				<li class="nav-item ">
					<a href="{{path('app_post_get')}}" class="nav-link">{{'article' | trans}}</a>
				</li>
				<li class="nav-item ">
					<a href="{{path('app_post')}}" class="nav-link">+ {{"publi_article" | trans}}</a>
				</li>

				<li class="nav-item ">
					<a href="{{path('app_contact')}}" class="nav-link">Contact</a>
				</li>
				<li class="nav-item  d-md-flex shopping-cartes ">
					<a href="{{path('display_cart')}}" class="dropdown-toggle nav-link d-flex align-items-center   p-0" aria-expanded="false">
						<i class="fa fa-shopping-cart"></i>
						&nbsp;<span class="rounded-circle-cart-number">{{ app.session.get('totalQuantity') }}</span>
					</a>

				</li>&nbsp;&nbsp;&nbsp;&nbsp;
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user"></i>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{% if app.user %}
							<a class="dropdown-item" href="{{path('app_logout')}}">{{"deconnexion" | trans}}</a>
						{% else %}
							<a class="dropdown-item" href="{{path('app_register')}}">{{"se_inscrire" | trans}}</a>
							<a class="dropdown-item" href="{{path('app_login')}}">{{"se_connecter" | trans}}</a>
						{% endif %}
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-globe"></i>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item langue" href="{{ path('app_changer_langue', {_locale: 'en'}) }}">English</a>
						<a class="dropdown-item langue" href="{{ path('app_changer_langue', {_locale: 'fr'}) }}">Français</a>

					</ul>
				</li>

			</ul>
		</div>
	</div>
</ul></div></div></nav>


