{% extends 'base.html.twig' %} {% block title %}Publication{% endblock %} {%
block body %}
<div class="container" id="publication" style="margin-bottom: 30px">
  <div style="margin-top: 90px"></div>
  <h4 class="text-center">
    {% if update == true %}{{ "mise_a_jour" | trans }} {% else %} Publication {%
    endif %}
  </h4>

  <div style="margin-top: 15px"></div>
  {# ---- Debut du formulaire de publication de post ----- #}
  <div class="row">
    <div>
      <div class="card p-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success mt-3">
          {% if update == true %}
          <a class="btn-get-started">{{ "mettre_a_jour" | trans }} </a>
          {% else %}
          <a class="btn-get-started"> {{ "publi_post" | trans }} </a>
          {% endif %}
        </button>

        {{ form_end(form) }}
      </div>
      {# ---- Fin du formulaire de publication de post ----- #}
    </div>
  </div>
</div>
{% endblock %}
