{% extends 'base.html.twig' %} {% block title %}Error {% endblock %} {% block
body %}
<div style="margin-top: 90px"></div>
<div class="container text-center">
  <h4>{{ "error_403" | trans }}</h4>
  <p>
    {{ "clique" | trans }}
    <a href="{{ path('app_home') }}">{{ "clique_ici" | trans }}</a
    >.
  </p>
  <img src="{{ asset('images/product.png') }}" alt="" />
</div>

{% endblock %}
